%tr.node.level_1
  %td.snippet
    = image('snippet', :alt => '')
    %span= link_to navigation.name, edit_admin_navigation_path(navigation)
  %td.remove
    = link_to image('remove', :alt => 'Remove Navigation'), remove_admin_navigation_path(navigation)